node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
**/node_modules

# yarn / eslint
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.eslintcache
# testing
coverage

# production
build

# misc
.DS_Store
.env*